body[b-ilkdotawmq]::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body[b-ilkdotawmq] {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mud-card[b-ilkdotawmq] {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-tertiary);
}

.mud-card-style[b-ilkdotawmq] {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-tertiary);
}