@page "/"
@using MudBlazor

<MudStack Spacing="10">
    @for (int i = 0; i < 5; i++)
    {

            <MudCard Outlined="true" Class="mud-card-style rounded-lg">

                <MudCardHeader Style="width:100%; justify-content:space-between">
                <MudText Align="Align.Start">Title</MudText>
                 <MudIconButton  Color="_color" OnClick="@ChangeColor" Icon="@Icons.Material.Filled.Star" Disabled="false" aria-label="share" />

                </MudCardHeader>
                <MudCardMedia Image="images/door.jpg" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Tertiary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Tertiary">Learn more</MudButton>
                </MudCardActions>
            </MudCard>

        
    }
</MudStack>



<div class="mud-main-test">
    Test
</div>


@code{
    private MudBlazor.Color _color = Color.Default;

    private void ChangeColor()
    {
        if(_color == Color.Default)
        {
            _color = Color.Warning;
        }
        else
        {
            _color = Color.Default;
        }
    }
                    }