body {
}

.mud-card {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-tertiary);
}

.mud-card-style {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-tertiary);
}